#detailsView {
  display: none;
  background-color: rgba(41, 58, 67, 0.8);
  position: absolute;
  height: 450px;
  width: 900px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  justify-content: space-between;
  animation: move 2s;

  .text {
    margin-right: 25px;
    margin-top: 25px;
    width: 400px;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: sans-serif;
    button {
      padding: 10px 15px;
      margin-top: 15px;
      text-transform: uppercase;
      background-color: #2c3238;
      color: #d3dee3;
      font-size: 16px;
    }
  }
  button:hover {
    background-color: #d3dee3;
    color: #2c3238;

    h3 {
      margin-top: 10px;
      text-transform: capitalize;
    }
    p {
      font-size: large;
    }
  }
}

//this keyframe animation moves the detailsView to slide in from the bottom
@keyframes move {
  0% {
    top: 100%;
  }

  100% {
    top: 45%;
  }
}
